/* gruvbox dark mode
 * https://github.com/morhetz/gruvbox
 */
:root {
    --dark-black: #0f0f0f;
    --black: #262626;
    --bright-black: #4C4C4C;
    
    --white: #bfbfbf;
    --bright-white: #f0f0f0;
    
    --red: #AC8A8C;
    --green: #8AAC8B;
    --yellow: #ACA98A;
    --blue: #8A98AC;
    --magenta: #8F8AAC;
    --cyan: #8AACAB;
    --orange: #C6A679;
    --gray: #767676;
    
    --bright-red: #C49EA0;
    --bright-green: #9EC49F;
    --bright-yellow: #C4C19E;
    --bright-blue: #A5B4CB;
    --bright-magenta: #A39EC4;
    --bright-cyan: #9EC3C4;
    --bright-orange: #CEB188;
    --bright-gray: #CACACA;
}
