/*-- scss:defaults --*/
$theme: "litera" !default;

$font-family-sans-serif:      "Inter", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           "Elstob", Elstob, Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace:       "Berkeley Mono", Berkeley, "IBM Plex Mono", "MonoLisa", "Source Code Pro", Menlo, SFMono-Regular, Consolas, "Roboto Mono", monospace !default;

$white:    #FFFCF0 !default;
$gray-100: #E6E4D9 !default;
$gray-200: #DAD8CE !default;
$gray-300: #CECDC3 !default;
$gray-400: #B7B5AC !default;
$gray-500: #878580 !default;
$gray-600: #6F6E69 !default;
$gray-700: #575653 !default;
$gray-800: #403E3C !default;
$gray-900: #282726 !default;
$gray-950: #1C1B1A !default;
$black:    #100F0F !default;

$blue:    #4385BE !default;
$blue-bright: #205EA6 !default;
$indigo:  #4385BE !default;
$purple:  #8B7EC8 !default;
$pink:    #CE5D97 !default;
$red:     #D14D41 !default;
$orange:  #DA702C !default;
$yellow:  #D0A215 !default;
$green:   #879A39 !default;
$teal:    #3AA99F !default;
$cyan:    #3AA99F !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-950 !default;

// Body

$body-bg:                   $black !default;
$body-color:                $gray-200 !default;
$body-secondary-color:      $gray-500 !default;
$body-emphasis-color-rgb: $gray-200 !default;
$navbar-bg: $black !default;
$navbar-fg: $gray-200 !default;
$footer-bg: $black !default;
$footer-fg: $gray-200 !default;
$btn-link-color: $blue !default;
$navbar-toggler-border-color: $black !default;
$border-color: $blue !default;
$link-hover-color: $blue-bright !default;

/*-- scss:rules --*/

.navbar {
  border: none;
}
