@font-face {
  font-family: "Berkeley";
  font-style: normal;
  src: url("./fonts/berkeley/BerkeleyMono-Regular.woff") format("woff"),
    url("./fonts/berkeley/BerkeleyMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Berkeley";
  font-weight: bold;
  src: url("./fonts/berkeley/BerkeleyMono-Bold.woff") format("woff"),
    url("./fonts/berkeley/BerkeleyMono-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Berkeley";
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/berkeley/BerkeleyMono-BoldItalic.woff") format("woff"),
    url("./fonts/berkeley/BerkeleyMono-BoldItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Berkeley";
  font-style: italic;
  src: url("fonts/berkeley/BerkeleyMono-Italic.woff") format("woff"),
    url("fonts/berkeley/BerkeleyMono-Italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Elstob';
  src:url("fonts/elstob/Elstob.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Elstob';
  src:url("fonts/elstob/Elstob-Italic.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("fonts/inter/Inter-Medium.woff2");
  font-display: swap;
}