@charset "UTF-8";

:root {
    --bg-color: #fff;
    --secondary-bg-color: #eeeeee;
    --heading-color: #5f5f5f;
    --body-color: rgba(0, 0, 0, 0.7);
    --post-color: rgba(0, 0, 0, 0.44);
    --border-color: rgba(0, 0, 0, 0.15);
    --form-border-color: #9f9f9f;
    --form-button-hover-border-color: #000;
    --pre-bg-color: #f9f9fd;
    --nav-text-color: #5a5a5a;
    --tag-color: #424242;
    --blockquote-text-color: #858585;
    --blockquote-border-color: #dfe2e5;
    --thumbnail-height: 15em;
    scroll-padding-top: 100px;
}

html[data-theme='dark'] {
    --bg-color: #1f1f1f;
    --secondary-bg-color: #1f1f1f;
    --heading-color: #C9C9C9;
    --body-color: #C9C9C9;
    --post-color: rgba(0, 0, 0, 0.44);
    --border-color: rgb(50, 50, 50);
    --form-border-color: #1f1f1f;
    --form-button-hover-border-color: #7c7c7c;
    --pre-bg-color: #1f1f1f;
    --nav-text-color: #C9C9C9;
    --tag-color: #C9C9C9;
    --blockquote-text-color: #C9C9C9;
    --blockquote-border-color: #C9C9C9;
}

a:hover,
a:active {
    color: #7c7c7c;
}

.page-top .nav a:hover {
    color: #7c7c7c;
}

.list-with-title .listing .listing-post .post-time {
    float: right;
    color: #C9C9C9;
}

.list-with-title .listing .listing-post a {
    color: #C9C9C9;
}

.list-with-title .listing .listing-post a:hover {
    color: #7c7c7c;
}

.list-with-title .listing-title {
    font-size: 24px;
    color: #666666;
    font-weight: 600;
    line-height: 2.2em;
}

.post .post-footer .meta a:hover {
    color: #7c7c7c;
}

.sidebar .social-links a:hover {
    color: #7c7c7c;
}
