<style>
  /* First, declare your dark mode colors */
  :root {
    --c-bg: #fff;
    --c-text: #000;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --c-bg: #000;
      --c-text: #fff;
    }
  }

  /* For browsers that don’t support `color-scheme` and therefore
   don't handle system dark mode for you automatically 
   (Firefox), handle it for them. */
  @supports not (color-scheme: light dark) {
    html {
      background: var(--c-bg);
      color: var(--c-text);
    }
  }

  /* For browsers that support automatic dark/light mode
   As well as system colors, set those */
  @supports (color-scheme: light dark) and (background-color: Canvas) and
    (color: CanvasText) {
    :root {
      --c-bg: Canvas;
      --c-text: CanvasText;
    }
  }

  /* For Safari on iOS. Hacky, but it works. */
  @supports (background-color: -apple-system-control-background) and
    (color: text) {
    :root {
      --c-bg: -apple-system-control-background;
      --c-text: text;
    }
  }

  @font-face {
    font-family: "Berkeley";
    font-style: normal;
    src: url("/fonts/berkeley/BerkeleyMono-Regular.woff") format("woff"),
      url("/fonts/berkeley/BerkeleyMono-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Berkeley";
    font-weight: bold;
    src: url("/fonts/berkeley/BerkeleyMono-Bold.woff") format("woff"),
      url("/fonts/berkeley/BerkeleyMono-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Berkeley";
    font-weight: bold;
    font-style: italic;
    src: url("/fonts/berkeley/BerkeleyMono-BoldItalic.woff") format("woff"),
      url("/fonts/berkeley/BerkeleyMono-BoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Berkeley";
    font-style: italic;
    src: url("/fonts/berkeley/BerkeleyMono-Italic.woff") format("woff"),
      url("/fonts/berkeley/BerkeleyMono-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "BerkeleyVar";
    font-style: normal;
    src: url("/fonts/berkeley/BerkeleyMonoVariable-Regular.woff") format("woff"),
      url("/fonts/berkeley/BerkeleyMonoVariable-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "BerkeleyVar";
    font-style: italic;
    src: url("/fonts/berkeley/BerkeleyMonoVariable-Italic.woff") format("woff"),
      url("/fonts/berkeley/BerkeleyMonoVariable-Italic.woff2") format("woff2");
  }

  body {
    font-family: Berkeley;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    font-family: BerkeleyVar;
    font-weight: 120;
  }
</style>
